table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  height: 70px;
}
td {
  height: 30px; 
  text-align: left;
}
tr:hover {background-color: coral;}


tr:nth-child(even) {
  background-color: #dddddd;

}